		.card {
			display: inline-block;
			position: absolute;
			margin: 0;
			padding: 0;
			background-color: black;
			box-sizing: border-box;
			border: 8px solid black;
			overflow: hidden;
			-moz-transition: border .5s, -moz-transform .2s;
			-webkit-transition: border .5s, -webkit-transform .2s;
			-o-transition: border .5s, -o-transform .2s;
			transition: border .5s, transform .2s;
			display: none;
		}
		a,
		a:active,
		a:visited {
			color: #43bfbf;
			text-decoration: none;
			-moz-transition: all .4s;
			-webkit-transition: all .4s;
			-o-transition: all .4s;
			transition: all .4s;
		}
		a:hover {
			color: #3AA6A5;
			font-weight: bold;
		}
		.hud {
			width: 90%;
			height: 90%;
			background-color: black;
			position: fixed;
			left: 5%;
			top: 5%;
			display: none;
			color: #eee;
			z-index: 3;
		}
		.hud-image {
			height: 70%;
			width: 80%;
			overflow: hidden;
			display: inline-block;
			position: relative;
			left: 10%;
			top: 2em;
		}
		.hud h1 {
			text-align: center;
			margin-top: 1em;
			font-size: 1.5em;
		}
		.hud .caption {
			text-align: center;
			font-size: 1.5em;
			width: 80%;
			position: absolute;
			left: 10%;
			bottom: 0;
			padding: 0 1em 3.5em 1em;
			background-color: rgba(0, 0, 0, .2);
			box-sizing: border-box;
		}
		.hud .actions {
			position: absolute;
			bottom: 1em;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 100%;
		}
		.hud .actions i {
			color: white;
			margin-right: 1em;
			-moz-transition: border .2s, -moz-transform .2s;
			-webkit-transition: border .2s, -webkit-transform .2s;
			-o-transition: border .2s, -o-transform .2s;
			transition: border .2s, transform .2s;
			cursor: pointer;
		}
		.hud .actions i:hover {
			transform: scale(1.3, 1.3);
			-moz-transform: scale(1.3, 1.3);
			-o-transform: scale(1.3, 1.3);
			-webkit-transform: scale(1.3, 1.3);
		}
		.hud > * {
			opacity: 0;
			transition: 200ms opacity;
		}
		.hud:hover > * {
			opacity: 1;
		}
		.hud.hide > * {
			opacity: 0;
		}
		.screen {
			height: 100%;
			width: 100%;
			position: fixed;
			opacity: .5;
			background-color: black;
			z-index: 2;
			display: none;
		}
		.hud .fa-times-circle-o {
			float: right;
			position: relative;
			top: .5em;
			right: .5em;
			cursor: pointer;
		}
		.card:hover {
			border-color: white;
			transform: scale(1.03, 1.03);
			-moz-transform: scale(1.03, 1.03);
			-o-transform: scale(1.03, 1.03);
			-webkit-transform: scale(1.03, 1.03);
			z-index: 1;
		}
		.card .wide {
			width: 100%;
		}
		.card .tall {
			height: 100%;
		}
		html,
		body,
		.card-container {
			margin: 0;
			padding: 0;
			background-color: black;
			height: 100%;
			width: 100%;
			font-family: 'Abel', sans-serif;
		}
		.card-container.blur {
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			filter: blur(2px)
		}
		.card-container {
			position: fixed;
		}
